/* CSS styles */
body {
  background-color: #D0E4F5;
  background-image: url("https://t4.ftcdn.net/jpg/05/91/79/61/360_F_591796166_Xg4eSyBoLTONupJQRaF3Y7cr4T1aEnb6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
  background-size: cover;
  image-rendering: crisp-edges;
}

div{
  margin: auto;
  text-align: center;
  padding: 0px 50px;
  background-clip: content-box;
  background-color: #4e4e75;
}

.button-grid{
  display: table;
  
}

.button-grid img{
  width: 20vw;
  border: 5px solid #6A0080;
  border-radius: 9px;
}

.logo{
  width = 10px;
}

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: white;
}

.jersey-20-regulartop {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  color: white;
text-shadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black, 1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black, 3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black, 5px 6px 1px black, 7px 6px 1px black;
}

.jersey-20-regularbottom {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100;
  color: white;
text-shadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black, 1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black, 3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black, 5px 6px 1px black, 7px 6px 1px black;
}
